body {
    background-color: #ff9966;
}

h1, h3 {
    display: flex;
    color:  #00001a;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

input {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    width: 300px;
    height: 25px;
    margin: 1%;
    font-size: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

#add, #add_wrw{
    width: 100px;
    margin: 1%;
    background-color: #00001a;
    color: #ff9966;
    font-weight: bold;
    border-radius: 6px;
    padding: 3px;
    font-size: 20px;
}


.emp {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px #00001a solid;
    max-width: 10%;
    margin: 1%;
}
.jsp {
    font-size: larger;
    font-weight: bold;
}


.jspw {
    font-size: larger;
}

.warriors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.15%;
}

.object {
    display: flex;
    flex-direction: row;
}